/* Margin mixin */
@mixin marginglr {
    margin-left: 10px;
    margin-right: 10px;
}

@mixin marginglr2 {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include marginglr()
}

div {
    @include marginglr2()
}